body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
#map {
    height: 100vh;  
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 88px;
    color: #333333;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
}
 
.search-container {
    width: 400px;
    height: 60px;
    background-color: #454E53;
    border-radius: 30px;
    position: absolute;
    z-index: 10;
    top: 230px;
    left: 100px;
    display: flex;
}

.search {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.search input {
    flex-grow: 1;
    font-size: 25px;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white; 
}
.search i {
    color: white;
    font-size: 25px;
}
.search input{
    outline: none;
}

.stores-list-container {
    left: 100px;
    top: 320px;
    position: absolute;
    width: 400px;
    z-index: 10;
    bottom: 20px;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    overflow-y: scroll;
    padding-bottom: 30px;
}
.store-list {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px; 
    overflow-y: scroll;
}
.store-container {
    display: flex;
    border-bottom: 1px solid #979797;
}
.store-info-container {
    flex-grow: 1;
}
.store-address {
    display: block; 
    font-size: 21px;
    color: #514c4c; 
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 0;
}
.store-address span {
    display: block;
}
.store-number-container {
    min-width: 300px;
    font-size: 18px;
    top: 70px;
    margin-left: 280px;
    margin-right: 0px;
    position: relative;
  
    display: flex; 
    align-items: center;
}
.store-number {
    width: 30px;
    height: 30px;
    background-color: #454E53;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    margin-top: -216px;    
}

.store-phone-number {
    color: #b5ADAd;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 23px;

}
.store-container-background {
    flex-grow: 1;
    display: flex;
    padding-left: 8px;
    padding-right: 8px; 
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 18px;
    transition: all 0.2s ease-in-out; 
    cursor: pointer;
}
.store-container-background:hover {
    flex-grow: 1;
    display: flex;
    padding-left: 8px;
    padding-right: 8px; 
    margin-bottom: 12px;
    margin-top: 12px;
    background-color: #cccccc87;
    border-radius: 18px;
}






/* toggles store info when Marker is clicked */

.address-line1 {
    font-size: 24px;
    font-weight: bold;
    color:rgb(0,0,0,.87);
}
.address-line2{
font-size: 18px;
}
.store-info-address {
    display:flex;
    margin-top: 8px;
    display:flex;
    align-items: center;
}
.store-info-address, .store-info-phone {
    margin-top: 8px; 
    align-items: center;
    display:flex;
}
.store-info-phone a, .store-info-address{
    text-decoration: none;
    color: #514C4C; 
}
.icon {
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    margin-right: 8px;
}
 
